node_modules
.pnp
.pnp.js
.yarn/install-state.gz
coverage
.next/
out/
build
dist
.DS_Store
*.pem
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.env
.env.local
.env*.local
*.tsbuildinfo
next-env.d.ts
.vercel
.vscode
.idea
